{% extends "character/layout.html" %}
{% load static %}

{% block title %}{{ character.name }}{% endblock title %}

{% block content %}
<header class="container" style="display: flex; justify-content: space-between;align-items: center;">
    <h1>{{ character.name }}</h1>
    <a role="button" href="{% url 'character:character_edit' character.id %}">Edit</a>

</header>
<main class="container">
    <section>
        <h2>About</h2>
        <p>Race: <a href="{% url 'character:race' character.race.id %}">{{ character.race }}</a></p>
        <p>Class: <a href="{% url 'character:characterclass' character.character_class.id %}">{{ character.character_class }}</a></p>
    </section>
    <section>
        <h2>Stats</h2>
        <table class="striped">
            <thead>
                <tr>
                    <th scope="col">Stat</th>
                    <th scope="col">Value</th>
                    <th scope="col">Modifier</th>
                </tr>
            </thead>
            <tbody>
                {% for ability, score, modifier in character.get_abilities %}
                <tr>
                    <th scope="row">{{ ability }}</th>
                    <td>{{ score }}</td>
                    <td>{{ modifier }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock content %}