{% extends "character/layout.html" %}
{% load static %}

{% block title %}Classes{% endblock title %}

{% block content %}
<main class="container">
    <h1>Classes</h1>
    {% if characterclass_list %}
    <ul>
        {% for characterclass in characterclass_list %}
        <li><a href="{% url 'character:characterclass' characterclass.id %}">{{ characterclass.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No classes are available.</p>
    {% endif %}
</main>
{% endblock content %}