{% extends "character/layout.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<header class="container">
    <hgroup>
        <h1>Welcome</h1>
    </hgroup>
</header>
<main class="container">
    <section>
        <h2>Characters</h2>
        <div>
            <a role="button" href="{% url 'character:character_create' %}">Create a character</a>
        </div>
        <a href="{% url 'character:character_list' %}">See all characters</a>
    </section>
    <section>
        <h2>Info</h2>
        <ul>
            <li>
                <a href="{% url 'character:characterclass_list' %}">Classes</a>
            </li>
            <li>
                <a href="{% url 'character:race_list' %}">Races</a>
            </li>
        </ul>
    </section>
</main>
{% endblock content %}