{% extends "character/layout.html" %}
{% load static %}

{% block title %}Races{% endblock title %}

{% block content %}
<main class="container">
    <h1>Races</h1>
    {% if race_list %}
    <div class="grid" style="grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); margin: 0 auto; gap: 1rem;">
        {% for race in race_list %}
        <a role="button" href="{% url 'character:race' race.id %}">{{ race.name }}</a>
        {% endfor %}
    </div>
    {% else %}
    <p>No races are available.</p>
    {% endif %}
</main>
{% endblock content %}